@font-face {
  font-family: "iransans";
  src: url("assets/fonts/IRANSansWebFaNum-Light.eot");
  src: url("assets/fonts/IRANSansWebFaNum-Light.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/IRANSansWebFaNum-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "iransans";
  src: url("assets/fonts/IRANSansWebFaNum-Medium.eot");
  src: url("assets/fonts/IRANSansWebFaNum-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/IRANSansWebFaNum-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "iransans";
  src: url("assets/fonts/IRANSansWebFaNum-Bold.eot");
  src: url("assets/fonts/IRANSansWebFaNum-Bold.eot?#iefix")

      format("embedded-opentype"),
    url("assets/fonts/IRANSansWebFaNum-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
